body{ 
  
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 107, 107);
}
/* menu */

header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;       
    padding: 30px 20px;
    z-index: 10;
}
header.abajo{
    background-color: #fff;
    padding: 15px 20px;
}
header .logo{
    position: relative;
    color: red;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5%;
    text-decoration: none;
}
nav { 
    display: flex;
    justify-content: center;
    align-items: center;       
}
header ul{ 
    position: relative;
    display: flex;
    justify-content: center;       
    align-items: center;
}
header ul li{ 
    list-style: none;       
}
header ul li a{ 
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
    text-decoration: none;
    color: red;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;

}
.zona1{ 
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(IMG/FondoIndex.jpg);
    background-size: cover;
    background-position: center center;
}
header.abajo .logo,
header.abajo ul li a{
    color: #000000;
} 

/* scroller */
.container {
    position: relative;
}

.container .slider {
    display: flex;
    background: rgb(0, 15, 11);
    padding: 10px;
    width: 600px;
    height: 150px;
    overflow: hidden;
    scroll-behavior: smooth;
}
.container .slider img {
    margin: 3px;
}

.container .control {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #000000;
    cursor: pointer;
    object-fit: cover;
    padding: 10px;
}

.container .prev {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);   
}

.container .next {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);   
}